* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "sourceSans";
}

.wrap {
  max-width: 1525px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0px auto;
}

.cover {
  position: fixed;
  z-index: 9;
  height: 100vh;
  width: 100vw;
  background: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}
.cover--active {
  visibility: visible;
  opacity: 0.4;
}

.headerTop__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 25px 175px 25px 1fr;
  grid-template-columns: 1fr 175px 1fr;
  grid-gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.headerTop__logo {
  max-width: 175px;
  -ms-grid-column-align: center;
      justify-self: center;
}
.headerTop__nav {
  -ms-grid-column-align: end;
      justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerTop__link {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  white-space: nowrap;
}
.headerTop__link:not(:last-child) {
  margin-right: 30px;
}
.headerTop__interactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerTop__contactBlock {
  margin-right: 40px;
}
.headerTop__iconLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
  color: #0f83fe;
}
.headerTop__iconLink span {
  margin-right: 10px;
  font-size: 18px;
}

.logo img {
  width: 100%;
  margin-bottom: -3px;
}

.contactBlock {
  position: relative;
}
.contactBlock--mobile {
  display: none;
}
.contactBlock__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contactBlock__phone {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #0f83fe;
  white-space: nowrap;
  font-weight: 600;
}
.contactBlock__phone--visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactBlock__phone:not(:first-child) {
  margin-top: 10px;
}
.contactBlock__phone span.icon-arrow::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 10px;
  font-size: 11px;
  display: block;
}
.contactBlock__phone span.icon-phone {
  font-size: 15px;
  margin-right: 10px;
}
.contactBlock__mail {
  display: none;
  margin-top: 10px;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #0f83fe;
  font-weight: 600;
}
.contactBlock__mail span.icon-arrow::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 10px;
  font-size: 11px;
  display: block;
}
.contactBlock__mail span.icon-mail {
  font-size: 15px;
  margin-right: 10px;
}
.contactBlock__bottomText {
  display: none;
  line-height: 20px;
  margin-top: 10px;
  padding-left: 25px;
  color: #5e5e5e;
}
.contactBlock:hover {
  height: 20px;
}
.contactBlock:hover .contactBlock__inner {
  position: absolute;
  z-index: 2;
  top: -15px;
  left: -20px;
  border-radius: 15px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(245, 245, 245)), to(rgb(255, 255, 255)));
  background-image: linear-gradient(90deg, rgb(245, 245, 245) 0%, rgb(255, 255, 255) 100%);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.15);
  padding-top: 17px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
.contactBlock:hover .contactBlock__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactBlock:hover .contactBlock__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactBlock:hover .contactBlock__bottomText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerBottom {
  background: #EFF5FC;
}
.headerBottom__left {
  display: none;
}
.headerBottom__wrap {
  padding-top: 7px;
  padding-bottom: 7px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 220px 30px 1fr;
  grid-template-columns: 220px 1fr;
  grid-gap: 30px;
}
.headerBottom__navButtons {
  -ms-grid-column-align: end;
      justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  color: #1b1b1b;
}
.headerBottom__icon {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  margin-left: 20px;
}
.headerBottom__icon--compare {
  font-size: 24px;
}
.headerBottom__icon--whishlist {
  font-size: 22px;
}
.headerBottom__cart {
  position: relative;
  color: inherit;
  text-decoration: none;
  margin-left: 20px;
  position: relative;
}
.headerBottom__cart-label {
  color: #fff;
  border-radius: 50%;
  background: #0f83fe;
  position: absolute;
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  top: -5px;
  right: -5px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.headerBottom__cart span {
  font-size: 24px;
  color: inherit;
}
.headerBottom__separator {
  width: 1px;
  height: 100%;
  background: #C3D4E8;
  margin-left: 50px;
  margin-right: 30px;
}
.headerBottom__loginBtn {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerBottom__loginBtn span {
  font-size: 20px;
  margin-right: 10px;
}

.catalogButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 220px;
  padding: 15px 30px;
  text-decoration: none;
  color: #fff;
  background: #0f83fe;
  border-radius: 15px;
  font-weight: 600;
  text-transform: uppercase;
}
.catalogButton span {
  color: #F7CC49;
  margin-right: 14px;
  font-size: 14px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 500px;
  width: 100%;
}
.search__icon {
  font-size: 30px;
  margin: -5px;
  color: #1b1b1b;
}
.search__row {
  max-width: 500px;
  width: 100%;
  position: relative;
  margin-right: -24px;
  display: none;
}
.search__row--open {
  display: block;
}
.search__row input {
  padding: 10px 20px;
  padding-right: 40px;
  font-size: 14px;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 100px;
  width: 100%;
}
.search__row span {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.topBlock__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 320px 35px auto;
  grid-template-columns: 320px auto;
  grid-gap: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 15px 5px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.15);
  max-height: 500px;
}
.catalog__mobileHeading {
  display: none;
}
.catalog__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.catalog__arrow {
  width: 100%;
  margin-top: auto;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: absolute;
  z-index: 5;
  background: #fff;
  bottom: 0;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  left: 0;
  height: 44px;
}
.catalog__arrow span {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #0f83fe;
}
.catalog--hovered {
  margin-bottom: -60px;
  max-height: 560px;
}
.catalog--hovered .catalog__arrow {
  display: none;
}

.category__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px 15px;
  border-radius: 100px;
}
.category__heading span {
  font-size: 10px;
  margin-left: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.category__heading:hover {
  color: #0f83fe;
  background-color: rgb(245, 245, 245);
}
.category__heading:hover span {
  color: #0f83fe;
}
.category__img {
  width: 100%;
  max-width: 30px;
  padding-right: 10px;
}
.category__img img {
  width: 100%;
  max-width: 20px;
}
.category__open {
  padding: 30px;
  padding-right: 0;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.15);
  height: 100%;
  position: absolute;
  right: -35px;
  top: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 3;
  display: none;
}
.category__open--open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.category__blueLink {
  color: #0f83fe;
  display: block;
  font-weight: 600;
}
.category__blueLink a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px 15px;
  border-radius: 100px;
  display: inline-block;
}
.category__blueLink a:hover {
  background-color: rgb(245, 245, 245);
}
.category__list {
  margin-right: 50px;
  margin-bottom: 30px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.category__list span {
  color: #0f83fe;
  display: block;
  font-weight: 600;
}
.category__list span a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px 15px;
  border-radius: 100px;
  display: inline-block;
}
.category__list span a:hover {
  background-color: rgb(245, 245, 245);
}
.category__list li a {
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px 15px;
  border-radius: 100px;
}
.category__list li a:hover {
  background-color: rgb(245, 245, 245);
}

.dropList {
  display: none;
}

.cart {
  position: fixed;
  width: 500px;
  top: 0;
  right: 0;
  z-index: 10;
  background: #fff;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.cart__grid {
  height: 100%;
  overflow-x: hidden;
}
.cart__close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
}
.cart h5 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
.cart__item {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #E3E3E3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.cart__delete {
  position: absolute;
  right: 10px;
  top: 30px;
}
.cart__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 105px;
  margin-right: 20px;
}
.cart__left img {
  width: 100%;
}
.cart__right {
  max-width: 275px;
  padding-top: 20px;
}
.cart__right p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.cart__price s {
  font-size: 14px;
  color: #878787;
  margin-right: 10px;
}
.cart__price span {
  font-size: 18px;
  font-weight: 600;
}
.cart__delete {
  font-size: 16px;
  color: #ed7c7c;
  cursor: pointer;
}
.cart__counter {
  margin-top: 30px;
}
.cart__total {
  margin-top: 30px;
  text-align: center;
  color: #0f83fe;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 30px;
}
.cart__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  padding-top: 10px;
}
.cart__button {
  max-width: 300px;
  width: 100%;
  height: 50px;
  border-radius: 15px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #0f83fe;
  color: #0f83fe;
  background: #fff;
}
.cart__button--accent {
  background: #0f83fe;
  color: #fff;
  margin-bottom: 20px;
}
.cart--open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.counter p {
  display: block;
  font-size: 16px;
  font-weight: 600;
  min-width: 20px;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
}
.counter span {
  font-size: 26px;
  font-weight: 600;
  color: #a5a5a5;
  text-align: center;
  cursor: pointer;
}

.mainSlider {
  overflow: hidden;
  max-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 30px;
}
.mainSlider .slick-list {
  margin: 0px -10px;
}
.mainSlider .slick-track {
  height: 100%;
}
.mainSlider__item {
  overflow: hidden;
  margin: 0px 10px;
}
.mainSlider__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.mainSlider .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 20px;
}
.mainSlider .slick-dots li button {
  position: relative;
  font-size: 0;
  width: 0;
  height: 0;
  background: transparent;
  border: none;
  margin: 0px 5px;
}
.mainSlider .slick-dots li button::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #0f83fe;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.mainSlider .slick-dots li.slick-active button::before {
  opacity: 1;
}
.mainSlider__arrow {
  position: absolute;
  display: -ms-grid;
  display: grid;
  place-items: center;
  z-index: 2;
  color: #fff;
  font-size: 30px;
  width: 100px;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  cursor: pointer;
}
.mainSlider__arrow--next {
  right: 0px;
}
.mainSlider__arrow--prev {
  left: 0px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.mainSlider__arrow:hover {
  opacity: 1;
}

.mainCat__wrap {
  padding-bottom: 40px;
  padding-top: 20px;
}
.mainCat__row {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
}
.mainCat__row--1 {
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
.mainCat__row--2 {
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}
.mainCat__row--3 {
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
}
.mainCat__row:not(:last-child) {
  margin-bottom: 20px;
}
.mainCat__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border: 1px solid rgb(231, 231, 231);
  padding: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: linear-gradient(58deg, rgb(255, 255, 255) 0%, rgb(250, 250, 250) 10%, rgb(245, 245, 245) 100%);
}
.mainCat__item img {
  width: 100%;
}
.mainCat__item p {
  font-weight: 600;
}
.mainCat__item--big p {
  font-size: 48px;
  margin-right: 30px;
}
.mainCat__item--big .mainCat__img {
  max-width: 240px;
}
.mainCat__item--medium p {
  font-size: 30px;
  margin-right: 20px;
}
.mainCat__item--small {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mainCat__item--small p {
  margin-bottom: 15px;
}
.mainCat__item--small img {
  width: 100%;
}

.slider__wrap {
  padding-top: 40px;
  padding-bottom: 60px;
}
.slider__title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
}
.slider__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider__body .slick-track {
  padding-top: 20px;
  padding-bottom: 20px;
}
.slider__arrow {
  width: 32px;
  min-width: 32px;
  height: 50px;
  border-radius: 15px;
  background-color: rgb(174, 174, 174);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.slider__arrow--prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.slider__prodCard {
  margin-right: 20px;
  margin-left: 20px;
}

.prodCard {
  position: relative;
  border-radius: 26px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.11);
  padding-top: 50px;
  padding-bottom: 17px;
  padding-right: 25px;
  padding-left: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.prodCard__labelRow {
  position: absolute;
  top: 12px;
  left: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.prodCard__label {
  text-transform: uppercase;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 100px;
  color: #fff;
}
.prodCard__label:not(:last-child) {
  margin-right: 8px;
}
.prodCard__label--green {
  background-color: rgb(112, 185, 87);
}
.prodCard__label--red {
  background: #E95050;
}
.prodCard__label--yellow {
  background: #f9c320;
}
.prodCard__topButtons {
  position: absolute;
  top: 12px;
  right: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.prodCard__topButtons a {
  text-decoration: none;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #DCDCDC;
  color: #777777;
}
.prodCard__topButtons a span {
  font-size: 16px;
}
.prodCard__topButtons a:not(:last-child) {
  margin-bottom: 13px;
}
.prodCard__img {
  max-width: 250px;
  margin-bottom: 10px;
}
.prodCard__img img {
  width: 100%;
}
.prodCard__name {
  font-weight: 600;
  margin-bottom: 16px;
  text-decoration: none;
  color: #000;
  display: block;
}
.prodCard__ratingRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.prodCard__colorBlock {
  margin-bottom: 15px;
}
.prodCard__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
}
.prodCard__price s {
  font-size: 15px;
  color: #878787;
}
.prodCard__price span {
  font-size: 26px;
  color: #0f83fe;
}
.prodCard__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.prodCard__button {
  text-decoration: none;
  color: #fff;
  width: 55px;
  height: 50px;
  border-radius: 15px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: #0f83fe;
  font-size: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.prodCard__button:hover {
  background: #036AD9;
}
.prodCard__stars {
  margin-right: 15px;
}
.prodCard__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  cursor: pointer;
}
.prodCard__comments span {
  margin-right: 8px;
  font-size: 17px;
}
.prodCard__colorBlock {
  height: 24px;
  margin-top: 15px;
}
.prodCard:hover {
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.21);
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.stars span {
  font-size: 11px;
  color: #BABABA;
}
.stars span.stars--active {
  color: #FDBE00;
}
.stars span:not(:last-child) {
  margin-right: 3px;
}

.colorBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.colorBlock__item {
  height: 18px;
  width: 18px;
  border: 1px solid #BEBEBE;
  min-width: 18px;
  border-radius: 50%;
  position: relative;
  margin: 0px 4px;
}
.colorBlock__item::after {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: -4px;
  right: -4px;
  border: 1px solid #5889CE;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.colorBlock__item--active::after, .colorBlock__item:hover::after {
  opacity: 1;
}

.brands {
  background: #f5f5f5;
}
.brands__wrap {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 20px;
}
.brands__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  height: 95px;
  border-radius: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f83fe;
}
.brands__item img {
  max-width: 100%;
}
.brands__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.brands__button span {
  text-align: center;
  margin-bottom: 10px;
}

.seo__wrap {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 120px;
}
.seo__inner {
  border-radius: 15px;
  background-color: rgb(239, 245, 252);
  padding-top: 55px;
  padding-bottom: 55px;
  padding-right: 70px;
  padding-left: 70px;
}
.seo h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.seo p {
  font-size: 16px;
  line-height: 22px;
}

.advBlock {
  background: #0f83fe;
}
.advBlock__heading {
  display: none;
}
.advBlock__wrap {
  padding-top: 16px;
  padding-bottom: 16px;
}
.advBlock__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}
.advBlock__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding-right: 40px;
  padding-left: 40px;
}
.advBlock__item span {
  font-size: 50px;
  margin-right: 40px;
}
.advBlock__item p {
  line-height: 20px;
}
.advBlock__item:first-child {
  padding-left: 0;
}
.advBlock__item:last-child {
  padding-right: 0;
}
.advBlock__item:not(:last-child) {
  border-right: 1px solid #70B2F8;
}

.footer__logo {
  max-width: 175px;
  margin-bottom: 30px;
}
.footer__top {
  padding-top: 30px;
  padding-bottom: 45px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
}
.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.footer__col--main {
  max-width: 175px;
}
.footer__phone {
  font-size: 26px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  color: #0f83fe;
  margin-bottom: 30px;
}
.footer__payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__payments--mobile {
  display: none;
}
.footer__heading {
  text-transform: uppercase;
  color: #0f83fe;
  margin-bottom: 10px;
  font-size: 18px;
}
.footer__heading span {
  display: none;
}
.footer__body li a {
  text-decoration: none;
  color: #000;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__body li a span {
  font-size: 12px;
  color: #0f83fe;
  margin-right: 5px;
  margin-top: 2px;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}
.footer__socials a {
  text-decoration: none;
}
.footer__socials a span {
  font-size: 21px;
}
.footer__socials a:not(:last-child) {
  margin-right: 15px;
}
.footer__socials--instagram {
  color: #f44b67;
}
.footer__socials--facebook {
  color: #1084ff;
}
.footer__socials--telegram {
  color: #3bc3f5;
}
.footer__socials--mobile {
  display: none;
}
.footer__mobileRow {
  display: none;
}
.footer__bottom {
  padding-top: 18px;
  padding-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #E5E5E5;
}

.categoryBlock__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 320px 50px 1fr;
  grid-template-columns: 320px 1fr;
  grid-column-gap: 50px;
  padding-top: 20px;
  padding-bottom: 75px;
}
.categoryBlock__main {
  padding-left: 20px;
}
.categoryBlock__crumbs {
  margin-bottom: 30px;
}
.categoryBlock__title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
}
.categoryBlock__sortRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.categoryBlock__sortButton {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5e5e5e;
  margin-right: 50px;
}
.categoryBlock__sortButton span {
  margin-right: 5px;
}
.categoryBlock__drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.categoryBlock__drop p {
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #D8D8D8;
  font-size: 14px;
  color: #5e5e5e;
  margin-right: 7px;
}
.categoryBlock__drop span {
  font-size: 9px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.categoryBlock__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 1fr 50px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 60px;
  padding-bottom: 65px;
  padding-top: 30px;
}
.categoryBlock__filter {
  padding-top: 50px;
}

.filter__heading {
  padding: 10px 15px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f5f5;
  border-radius: 5px;
}
.filter__heading span {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 13px;
  color: #0f83fe;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.filter__heading--collapsable {
  cursor: pointer;
}
.filter__heading--collapsable + .filter__body {
  display: none;
}
.filter__heading--active span {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.filter__body {
  padding: 15px;
  padding-bottom: 25px;
  max-height: 350px;
  overflow-x: hidden;
}
.filter__block:not(:last-child) {
  margin-bottom: 15px;
}
.filter__mobileHeading {
  display: none;
}

.priceRange__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
.priceRange__inputs span {
  margin-left: 15px;
  font-weight: 600;
}
.priceRange__inputs input {
  width: 100%;
  background: #fff;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  font-weight: 600;
}
.priceRange__line {
  width: 10px;
  min-width: 10px;
  height: 2px;
  background: #000;
  margin: 0px 15px;
}
.priceRange__range {
  height: 3px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.priceRange__range.ui-widget.ui-widget-content {
  border: none;
  background: #f5f5f5;
}
.priceRange__range .ui-slider-range {
  background: #0f83fe;
}
.priceRange__range .ui-slider-handle {
  border-radius: 50%;
  background: #0f83fe;
  border-color: #fff;
  border-width: 2px;
  height: 24px;
  width: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.priceRange__measures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.priceRange__measures span {
  font-size: 12px;
  display: block;
  color: #8f8f8f;
  position: relative;
  padding-top: 15px;
}
.priceRange__measures span::after {
  content: "";
  display: block;
  width: 1px;
  height: 10px;
  position: absolute;
  top: 0;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  background: #9d9d9d;
}

.checkRow {
  margin-bottom: 10px;
}
.checkRow label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 25px;
  position: relative;
  cursor: pointer;
}
.checkRow label::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 1px solid #CACACA;
  position: absolute;
  left: 0;
}
.checkRow label::after {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 2px;
  background: #0f83fe;
  position: absolute;
  top: 8px;
  left: 3px;
  opacity: 0;
}
.checkRow label span {
  padding: 5px 10px;
  background: #dce8f5;
  border-radius: 100px;
}
.checkRow input {
  position: absolute;
  opacity: 0;
}
.checkRow input:checked + label::after {
  opacity: 1;
}

.crumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.crumbs a {
  text-decoration: none;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.crumbs a::after {
  content: "\e901";
  font-family: "icomoon" !important;
  font-size: 6px;
  margin: 0px 10px;
}
.crumbs span {
  color: #8f8f8f;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pagination a {
  text-decoration: none;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  min-width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #F5F5F5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 600;
}
.pagination a:hover, .pagination a.pagination--active {
  background: #DCE8F5;
}
.pagination a:not(:last-child) {
  margin-right: 15px;
}

.filterButton {
  display: none;
}

.prodBlock__wrap {
  padding-top: 20px;
  padding-bottom: 20px;
}
.prodBlock__crumbs {
  margin-bottom: 50px;
}
.prodBlock__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.prodBlock__rating-count {
  margin-left: 8px;
  font-size: 14px;
  color: #a0a0a0;
}
.prodBlock__flexRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.prodBlock__art {
  display: block;
  padding: 10px;
  background: #f5f5f5;
  font-size: 14px;
  margin-right: 30px;
}
.prodBlock__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  margin-right: 32px;
}
.prodBlock__brand a {
  text-decoration: none;
  color: #1083ff;
}
.prodBlock__stock {
  color: #34a64a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}
.prodBlock__stock span {
  margin-right: 5px;
}
.prodBlock__priceBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 40px;
}
.prodBlock__priceBlock s {
  font-size: 18px;
  color: #878787;
}
.prodBlock__priceBlock span {
  font-size: 32px;
  font-weight: 600;
  color: #0f83fe;
}
.prodBlock__button {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 205px;
  width: 100%;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: #0f83fe;
  border-radius: 15px;
  margin-right: 40px;
}
.prodBlock__button span {
  margin-right: 15px;
}
.prodBlock__circle {
  text-decoration: none;
  width: 37px;
  min-width: 37px;
  height: 37px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #DCDCDC;
  color: #777777;
}
.prodBlock__circle span {
  font-size: 16px;
}
.prodBlock__circle:not(:last-child) {
  margin-right: 15px;
}
.prodBlock__colorBlock {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.prodBlock__block {
  margin-bottom: 25px;
}
.prodBlock__block h5 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}
.prodBlock__radioBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.prodBlock__radioItem label {
  width: 75px;
  height: 38px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgb(220, 232, 245);
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.prodBlock__radioItem input {
  position: absolute;
  visibility: hidden;
}
.prodBlock__radioItem input:checked + label {
  background: #eff5fc;
  border-color: #ABC0D7;
}
.prodBlock__radioItem:not(:last-child) {
  margin-right: 10px;
}
.prodBlock__select {
  max-width: 125px;
}
.prodBlock__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 24px;
}
.prodBlock__label span {
  margin-right: 5px;
  margin-top: 3px;
  color: #1083ff;
  font-size: 18px;
}
.prodBlock__title {
  font-size: 34px;
  font-weight: 600;
}
.prodBlock__listBlock h5 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
}
.prodBlock__listBlock ul li {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.prodBlock__listBlock ul li::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 10px;
  background: #b0b0b0;
}
.prodBlock__listBlock:not(:last-child) {
  margin-bottom: 45px;
}
.prodBlock__addInfo {
  margin-top: 80px;
  padding-left: 45px;
  border-left: 1px solid #EFEFEF;
  padding-top: 30px;
  max-width: 260px;
  min-width: 225px;
  width: 100%;
}
.prodBlock__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
  grid-template-columns: repeat(3, auto);
}
.prodBlock__gallerySlider {
  max-width: 500px;
  width: 100%;
  margin-right: 50px;
  margin-left: 30px;
}

.gallerySlider__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.gallerySlider__nav img {
  width: 100%;
}
.gallerySlider__nav .slick-track {
  padding-top: 30px;
  padding-bottom: 30px;
}
.gallerySlider__for {
  overflow: hidden;
}
.gallerySlider__for img {
  max-width: 100%;
  width: auto;
  margin: 0px auto;
}
.gallerySlider__item {
  aspect-ratio: 1/1;
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.11);
  background: #fff;
  margin: 0px 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.gallerySlider__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallerySlider__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  min-width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #AFAFAF;
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.gallerySlider__arrow span {
  font-size: 10px;
  color: #AFAFAF;
}
.gallerySlider__arrow--prev {
  left: -40px;
}
.gallerySlider__arrow--prev span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.gallerySlider__arrow--next {
  right: -40px;
}

.tabBlock ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  width: calc(100% - 260px);
}
.tabBlock ul li {
  height: 45px;
}
.tabBlock ul li a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  border: 1px solid #DCE8F5;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.tabBlock ul li.ui-tabs-active a {
  background: #dce8f5;
}
.tabBlock__wrap {
  padding-bottom: 50px;
}
.tabBlock__wrap > div {
  padding-top: 50px;
  width: calc(100% - 260px);
}

.description section:not(:last-child) {
  margin-bottom: 20px;
}
.description h3 {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 600;
}
.description h5 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}
.description p {
  font-size: 18px;
  line-height: 24px;
}
.description__img {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.description__img img {
  max-width: 100%;
  width: auto;
  margin: 0px auto;
}

.chars {
  max-width: 780px;
}
.chars__section h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}
.chars__section:not(:last-child) {
  margin-bottom: 40px;
}
.chars__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 30px;
  position: relative;
}
.chars__row span {
  max-width: 220px;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  background: #fff;
  padding-left: 10px;
  white-space: unset;
}
.chars__row h5 {
  font-weight: 400;
  white-space: nowrap;
  background: #fff;
  padding-right: 10px;
  white-space: unset;
}
.chars__line {
  width: 100%;
  border-bottom: 1px solid #E1E1E1;
  position: absolute;
  width: calc(100% - 20px);
  z-index: -1;
}

.checkoutBlock__wrap {
  padding-top: 20px;
  padding-bottom: 220px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 30px auto;
  grid-template-columns: repeat(2, auto);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  grid-column-gap: 30px;
}
.checkoutBlock__crumbs {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  padding-bottom: 40px;
}
.checkoutBlock__offerBlock {
  -ms-grid-column-align: end;
      justify-self: end;
}

.checkForm__heading {
  border-bottom: 1px solid #DCE8F5;
  padding-bottom: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.checkForm__heading h5 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}
.checkForm__heading a {
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f83fe;
  font-weight: 600;
}
.checkForm__section {
  padding-bottom: 30px;
}
.checkForm__radioBlock {
  padding-top: 15px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.checkForm__radio:not(:last-child) {
  margin-bottom: 13px;
}
.checkForm__isRegister {
  padding-top: 15px;
  padding-bottom: 20px;
}
.checkForm__fieldRow:not(:last-child) {
  margin-bottom: 20px;
}
.checkForm__comment {
  padding: 15px 20px;
  width: 100%;
  border: 1px solid #DADADA;
  min-height: 130px;
  resize: none;
  font-family: "sourceSans";
  font-size: 16px;
}
.checkForm__button {
  text-transform: uppercase;
  background: #0f83fe;
  color: #fff;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  height: 50px;
  max-width: 400px;
  width: 100%;
  border-radius: 15px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 25px;
}
.checkForm__label a {
  color: #0f83fe;
}

.radio label {
  position: relative;
  padding-left: 37px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.radio label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #CFCFCF;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.radio label::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0f83fe;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  left: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.radio input {
  position: absolute;
  visibility: hidden;
}
.radio input:checked + label::after {
  opacity: 1;
}

.isRegister {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.isRegister span {
  margin-right: 25px;
}
.isRegister__radio:not(:last-child) {
  margin-right: 20px;
}

.fieldRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fieldRow span {
  max-width: 145px;
  width: 100%;
}

.formField {
  padding: 15px 20px;
  width: 100%;
  border: 1px solid #DADADA;
  font-size: 16px;
  font-family: "sourceSans";
}

.offerBlock {
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.11);
  border-radius: 25px;
  padding: 40px;
  max-width: 580px;
  width: 100%;
}
.offerBlock h3 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.offerBlock__summary {
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #E3E3E3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.offerBlock__summary span {
  text-align: right;
  font-size: 18px;
}
.offerBlock__total {
  padding-top: 20px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.offerBlock__total span {
  text-align: right;
  font-size: 22px;
  font-weight: 600;
}

.accountBlock__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 75px auto;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 75px;
  padding-top: 20px;
  padding-bottom: 220px;
}
.accountBlock__crumbs {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  padding-bottom: 45px;
}
.accountBlock__plateBlock:not(:last-child) {
  margin-bottom: 40px;
}
.accountBlock__plateBlock h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}
.accountBlock__plateGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.accountBlock__list {
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-top: 80px;
}
.accountBlock__list ul li:not(:last-child) {
  border-bottom: 1px solid #E5E5E5;
}
.accountBlock__list a {
  text-decoration: none;
  color: #757575;
  font-size: 15px;
  display: block;
  height: 43px;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plateItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #000;
  height: 200px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.11);
  padding-right: 25px;
  padding-left: 25px;
}
.plateItem img {
  max-width: 55px;
  width: 100%;
  margin-bottom: 30px;
}
.plateItem p {
  text-align: center;
  font-weight: 600;
}

.shopsBlock__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 55px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 55px;
}
.shopsBlock__title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}
.shopsBlock__wrap {
  padding-top: 20px;
  padding-bottom: 100px;
}

.shopsItem {
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.11);
  padding: 30px;
}
.shopsItem h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 30px;
}
.shopsItem__addressRow {
  margin-bottom: 20px;
}
.shopsItem__phoneRow {
  margin-bottom: 25px;
}
.shopsItem__map {
  width: 100%;
}
.shopsItem__map iframe {
  height: 370px;
}

.addressRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}
.addressRow b {
  margin-right: 5px;
}
.addressRow span {
  color: #0f83fe;
  margin-right: 15px;
  font-size: 16px;
}

.phoneRow {
  color: #0f83fe;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 20px;
}
.phoneRow span {
  margin-right: 15px;
  font-size: 14px;
}

.hoursRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}
.hoursRow span {
  color: #0f83fe;
  margin-right: 15px;
  font-size: 16px;
}

.mailRow {
  color: #0f83fe;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 20px;
}
.mailRow span {
  margin-right: 15px;
  font-size: 16px;
}

.contacts__wrap {
  padding-top: 20px;
  padding-bottom: 100px;
}
.contacts h3 {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.contacts__info {
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.11);
  padding: 30px;
}
.contacts__addressRow {
  margin-bottom: 15px;
}
.contacts__hoursRow {
  margin-bottom: 15px;
}
.contacts__section:not(:last-child) {
  margin-bottom: 35px;
}
.contacts__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}
.contacts__letterForm {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.contacts__map {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  border-radius: 25px;
  overflow: hidden;
}
.contacts__map iframe {
  height: 485px;
}

.letterForm {
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.11);
  padding: 30px;
}
.letterForm__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.letterForm__comment {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  padding: 15px 20px;
  width: 100%;
  border: 1px solid #DADADA;
  min-height: 180px;
  resize: none;
  font-family: "sourceSans";
  font-size: 16px;
}
.letterForm__button {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-column-align: end;
      justify-self: end;
  text-transform: uppercase;
  background: #0f83fe;
  color: #fff;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  height: 50px;
  max-width: 175px;
  width: 100%;
  border-radius: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

.compareBlock__wrap {
  padding-top: 20px;
  padding-bottom: 120px;
}
.compareBlock__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 175px;
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.compareBlock__button {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #0f83fe;
  color: #fff;
  background: #0f83fe;
  margin-bottom: 10px;
}
.compareBlock__button span {
  margin-right: 10px;
}
.compareBlock__button--delete {
  background: #fff;
  color: #E06535;
  border-color: #E06535;
  margin-bottom: 20px;
  margin-bottom: 0;
}
.compareBlock__body {
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.11);
  padding: 30px;
}
.compareBlock__body h3 {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.compareBlock__nameRow td {
  text-align: center;
  font-weight: 600;
  font-size: 17px;
}
.compareBlock__nameRow td p {
  max-width: 245px;
  margin: 0px auto;
}
.compareBlock__table {
  width: 100%;
}
.compareBlock__table tr {
  border-top: 1px solid #E1E1E1;
}
.compareBlock__table tr td {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.compareBlock__table tr td img {
  max-width: 100%;
  width: auto;
  margin: 0px auto;
}
.compareBlock__table tr td:first-child {
  text-align: left;
  padding-left: 10px;
  vertical-align: middle;
}
.compareBlock__table tr:last-child {
  border-bottom: 1px solid #E1E1E1;
}
.compareBlock__table tr:hover {
  background: #E3ECF6;
}
.compareBlock__headingRow {
  width: 100%;
  background: #f5f5f5;
  border-top: 1px solid #E1E1E1;
}
.compareBlock__headingRow td {
  padding-left: 10px;
  font-weight: 600;
  font-size: 18px;
}
.compareBlock__headingRow:hover {
  background: #f5f5f5 !important;
}
.compareBlock--noHover:hover {
  background: #fff !important;
}