@media screen and (max-width: 1340px) {
  .prodBlock__gallerySlider {
    max-width: 400px;
  }

  .accountBlock__list {
    max-width: 300px;
  }
  .accountBlock__wrap {
    -ms-grid-columns: 1fr 300px;
    grid-template-columns: 1fr 300px;
  }
  .accountBlock__left {
    width: 100%;
  }
  .accountBlock__plateGrid {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }
}
@media screen and (max-width: 1240px) {
  .advBlock__item {
    padding-right: 15px;
    padding-left: 15px;
  }
  .advBlock__item span {
    margin-right: 10px;
  }

  .categoryBlock__wrap {
    -ms-grid-columns: 250px 20px 1fr;
    grid-template-columns: 250px 1fr;
    grid-gap: 20px;
  }
  .categoryBlock__grid {
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }
  .prodBlock__addInfo {
    padding-left: 30px;
  }
  .prodBlock__priceBlock {
    margin-right: 30px;
  }
  .prodBlock__button {
    margin-right: 30px;
    max-width: 185px;
    height: 50px;
  }
  .prodBlock__main {
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, auto);
  }
  .prodBlock__addInfo {
    margin-top: 0;
    border-left: none;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
  }
  .prodBlock__addInfo ul li {
    white-space: nowrap;
  }
  .prodBlock__listBlock {
    margin-right: 40px;
  }
  .prodBlock__gallerySlider {
    margin-right: 30px;
    max-width: 300px;
  }
  .prodBlock__info {
    padding-left: 20px;
  }
  .prodBlock__addInfo {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .gallerySlider__arrow--next {
    right: -30px;
  }
  .gallerySlider__arrow--prev {
    left: -30px;
  }

  .tabBlock ul {
    width: 100%;
  }
  .tabBlock__wrap > div {
    width: 100%;
  }
}
@media screen and (max-width: 1080px) {
  .headerTop__link:not(:last-child) {
    margin-right: 20px;
  }
  .headerTop__wrap {
    -ms-grid-columns: 1fr 20px 100px 20px 1fr;
    grid-template-columns: 1fr 100px 1fr;
    grid-gap: 20px;
  }

  .mainCat__row--1 {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .mainCat__row--2 {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .mainCat__row--3 {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
  .mainCat__item--big p {
    font-size: 48px;
  }
  .mainCat__item--small {
    font-size: 20px;
  }

  .slider__prodCard {
    margin: 0px 10px;
  }

  .footer__top {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 30px;
  }

  .brands__wrap {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }

  .categoryBlock__grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .shopsBlock__grid {
    grid-gap: 30px;
  }

  .checkoutBlock__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .checkoutBlock__crumbs {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .checkoutBlock__checkForm {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    max-width: 700px;
    width: 100%;
    margin: 0px auto;
  }
  .checkoutBlock__offerBlock {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0px auto;
    margin-bottom: 40px;
  }

  .contacts__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__info {
    max-width: 700px;
    width: 100%;
    margin: 0px auto;
  }
  .contacts__letterForm {
    max-width: 700px;
    width: 100%;
    margin: 0px auto;
  }

  .paymentInfoBlock__grid {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .prodBlock__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .prodBlock__info {
    padding-left: 0;
  }
  .prodBlock__addInfo {
    max-width: 563px;
    padding-top: 40px;
  }

  .tabBlock ul li a {
    font-size: 15px;
  }

  .shopsBlock__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .headerTop {
    display: none;
  }

  .catalogButton {
    display: none;
  }

  .headerBottom__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .headerBottom__logo {
    max-width: 120px;
  }
  .headerBottom__toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30px;
    min-width: 30px;
    height: 20px;
    position: relative;
    z-index: 5;
    margin-right: 20px;
    cursor: pointer;
  }
  .headerBottom__toggler span {
    width: 100%;
    height: 2px;
    background: #0f83fe;
    position: absolute;
  }
  .headerBottom__toggler span:first-child {
    top: 0;
  }
  .headerBottom__toggler span:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .headerBottom__toggler span:last-child {
    bottom: 0;
  }
  .headerBottom__wrap {
    -ms-grid-columns: 170px 1fr;
    grid-template-columns: 170px 1fr;
  }

  .topBlock__wrap {
    display: block;
  }

  .catalog {
    position: fixed;
    z-index: 10;
    border-radius: 0;
    top: 0;
    left: 0;
    height: 100vh;
    max-height: 100vh;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    width: 90vw;
    max-width: 430px;
    padding-left: 0;
    padding-right: 0;
  }
  .catalog__arrow {
    display: none;
  }
  .catalog__mobileHeading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 15px;
    padding-bottom: 20px;
  }
  .catalog__mobileHeading h5 {
    font-size: 24px;
  }
  .catalog__mobileHeading span {
    font-size: 22px;
    cursor: pointer;
  }
  .catalog__menu {
    height: 100%;
    overflow-y: scroll;
  }
  .catalog--open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .catalog--notOnPage {
    visibility: visible;
    opacity: 1;
  }

  .category__heading {
    border-radius: 0;
  }
  .category__heading:hover {
    background: #fff;
    color: #000;
  }
  .category__heading:hover span {
    color: #000;
  }
  .category__heading--active span {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .category__open {
    position: unset;
    -webkit-transform: unset;
            transform: unset;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    padding: 0;
    right: unset;
    top: unset;
    height: auto;
  }
  .category__col {
    width: 100%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .category__col li a {
    display: block;
    border-radius: 0;
  }
  .category__col span a {
    display: block;
    border-radius: 0;
  }
  .category__list {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  .dropList {
    display: block;
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
  }
  .dropList__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    color: #000;
    padding-right: 15px;
    font-weight: 600;
    padding-left: 44px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .dropList__heading span {
    font-size: 10px;
  }
  .dropList__heading--active span {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .dropList__body {
    display: none;
    padding-bottom: 15px;
    padding-left: 44px;
    padding-right: 15px;
  }
  .dropList__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    color: #0f83fe;
  }
  .dropList__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .dropList__item span {
    margin-right: 10px;
  }
  .dropList__grayText {
    color: #5e5e5e;
    padding-left: 25px;
  }

  .mainCat__item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mainCat__item--small p {
    font-size: 16px;
  }

  .advBlock__grid {
    -ms-grid-columns: 1fr 25px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }
  .advBlock__item {
    padding-right: 0;
    padding-left: 0;
  }
  .advBlock__item:not(:last-child) {
    border-right: none;
  }

  .seo__inner {
    padding-right: 30px;
    padding-left: 30px;
  }

  .footer__top {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
  }

  .categoryBlock__wrap {
    display: block;
    -ms-grid-columns: unset;
    grid-template-columns: unset;
  }
  .categoryBlock__main {
    padding-left: 0;
  }
  .categoryBlock__filter {
    position: fixed;
    background: #fff;
    padding-right: 45px;
    padding-top: 20px;
    z-index: 10;
    height: 100vh;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-bottom: 30px;
    max-width: 380px;
    padding-left: 15px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .categoryBlock__filter--open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .categoryBlock__sortRow {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .filter__mobileHeading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 30px;
    margin-right: -30px;
  }
  .filter__mobileHeading h5 {
    font-size: 24px;
    font-weight: 600;
  }
  .filter__mobileHeading span {
    font-size: 24px;
    cursor: pointer;
  }

  .filterButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    left: -33px;
    top: 200px;
    background: #0f83fe;
    color: #fff;
    z-index: 3;
    height: 30px;
    width: 95px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    text-decoration: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .filterButton span {
    margin-right: 5px;
    margin-top: 3px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .filterButton img {
    width: 25px;
    height: 25px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  .accountBlock__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .accountBlock__list {
    max-width: 100%;
    margin-top: 0;
  }
  .accountBlock__plateGrid {
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(137px, 1fr));
  }
  .accountBlock__plateBlock:not(:last-child) {
    margin-bottom: 20px;
  }
  .accountBlock__plateBlock h3 {
    margin-bottom: 10px;
  }

  .plateItem {
    height: 150px;
    padding: 0px 15px;
  }
  .plateItem img {
    max-width: 30px;
    margin-bottom: 15px;
  }

  .contacts__map iframe {
    height: 400px;
  }

  .compareBlock__body {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: -15px;
    margin-left: -15px;
    width: calc(100% + 30px);
    max-width: calc(100% + 30px);
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .compareBlock__tableWrap {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media screen and (max-width: 600px) {
  .wrap {
    padding-right: 15px;
    padding-left: 15px;
  }

  .headerBottom__wrap {
    grid-gap: 10px;
    padding-right: 0;
  }
  .headerBottom__icon {
    height: 38px;
    min-width: 60px;
    margin: 0;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .headerBottom__icon:not(:last-child) {
    border-right: 1px solid #c3d4e8;
  }
  .headerBottom__icon--compare {
    display: none;
  }
  .headerBottom__icon--whishlist {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .headerBottom__separator {
    display: none;
  }
  .headerBottom__cart {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    height: 38px;
    min-width: 60px;
    margin: 0;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .headerBottom__cart-label {
    top: 2px;
    right: 6px;
    -webkit-transform: unset;
            transform: unset;
  }
  .headerBottom__loginBtn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 38px;
    min-width: 60px;
    margin: 0;
    display: -ms-grid;
    display: grid;
    place-items: center;
    border-right: 1px solid #c3d4e8;
  }
  .headerBottom__loginBtn span {
    margin-right: 0;
  }
  .headerBottom__loginBtn p {
    display: none;
  }

  .search {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 38px;
    min-width: 60px;
    width: 60px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-right: 1px solid #c3d4e8;
  }
  .search__row {
    padding: 10px 20px;
    background: #fff;
    position: fixed;
    width: 100%;
    top: 52px;
    left: 0px;
    right: 0px;
    z-index: 3;
  }
  .search__row span {
    right: 35px;
    z-index: 2;
  }

  .cart {
    -webkit-transform: unset;
            transform: unset;
    visibility: hidden;
    opacity: 0;
    max-width: 100%;
    width: 100%;
  }
  .cart--open {
    visibility: visible;
    opacity: 1;
  }

  .mainCat__item p {
    font-size: 28px;
  }
  .mainCat__item--small {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 25px;
    padding-bottom: 10px;
  }
  .mainCat__item--small p {
    font-size: 20px;
  }
  .mainCat__item--big .mainCat__img {
    max-width: 150px;
  }
  .mainCat__row {
    grid-gap: 0;
    grid-template-rows: repeat(auto-fit, 150px);
  }
  .mainCat__row__img {
    height: 100%;
  }
  .mainCat__row__img img {
    height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mainCat__row:not(:last-child) {
    margin-bottom: 0;
  }
  .mainCat__row--3 {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: unset;
    grid-template-rows: unset;
  }
  .mainCat__row--3 > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .mainCat__row--3 > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .mainCat__img {
    max-width: 150px;
  }
  .mainCat__img img {
    width: 100%;
  }

  .advBlock {
    background: unset;
  }
  .advBlock__wrap {
    padding: 0;
  }
  .advBlock__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 15px;
    background: #0f83fe;
    cursor: pointer;
  }
  .advBlock__heading span {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .advBlock__heading--active span {
    -webkit-transform: scaleY(-1) rotate(90deg);
            transform: scaleY(-1) rotate(90deg);
  }
  .advBlock__grid {
    display: none;
    border-top: 1px solid #fff;
  }
  .advBlock__item {
    background: #eff5fc;
    border-bottom: 1px solid #fff;
  }
  .advBlock__item span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90px;
    min-width: 90px;
    height: 70px;
    background: #0f83fe;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advBlock__item span::before {
    font-size: 48px;
  }
  .advBlock__item p {
    color: #000;
    padding-right: 15px;
  }

  .seo__wrap {
    padding-bottom: 50px;
  }
  .seo__inner {
    padding: 30px 20px;
  }
  .seo__inner p {
    line-clamp: 10;
    -webkit-line-clamp: 10;
  }

  .footer__top {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__col--main {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    padding-bottom: 15px;
  }
  .footer__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__heading--active span {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .footer__logo {
    margin-bottom: 0;
  }
  .footer__phoneBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__phone {
    margin-bottom: 0;
  }
  .footer__phone:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer__payments {
    display: none;
  }
  .footer__payments--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .brands {
    position: relative;
    padding-bottom: 75px;
  }
  .brands__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    padding-bottom: 10px;
  }
  .brands__item {
    min-width: 140px;
  }
  .brands__item:not(:last-child) {
    margin-right: 15px;
  }
  .brands__button {
    position: absolute;
    bottom: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: auto;
    height: auto;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    background: transparent;
  }
  .brands__button span {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .slider__title {
    margin-bottom: 30px;
  }

  .crumbs {
    font-size: 12px;
  }

  .categoryBlock__crumbs {
    margin-bottom: 25px;
  }
  .categoryBlock__title {
    margin-bottom: 25px;
  }

  .prodBlock__art {
    margin-right: 15px;
  }
  .prodBlock__brand {
    margin-right: 15px;
  }
  .prodBlock__flexRow {
    margin-bottom: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .prodBlock__priceBlock {
    margin-right: 15px;
  }
  .prodBlock__priceBlock span, .prodBlock__priceBlock s {
    white-space: nowrap;
  }
  .prodBlock__button {
    margin-right: 15px;
    min-width: 150px;
  }

  .tabBlock ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 2px;
  }
  .tabBlock ul li {
    width: 100%;
  }
  .tabBlock ul li a {
    white-space: nowrap;
    padding-right: 15px;
    padding-left: 15px;
  }

  .shopsItem {
    padding: 10px;
    border-radius: 0;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0px -15px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: 1px solid #c7c7c7;
  }

  .offerBlock {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: -15px;
    margin-left: -15px;
    width: calc(100% + 30px);
    max-width: calc(100% + 30px);
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .contacts h3 {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .contacts__grid {
    grid-gap: 20px;
  }
  .contacts__info {
    border-radius: 0;
    margin: 0px -15px;
    max-width: calc(100% + 30px);
    width: calc(100% + 30px);
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 15px;
  }
  .contacts__map {
    border-radius: 10px;
  }

  .letterForm {
    border-radius: 0;
    margin: 0px -15px;
    max-width: calc(100% + 30px);
    width: calc(100% + 30px);
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 15px;
  }
  .letterForm__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .letterForm__button {
    margin-bottom: 0;
  }

  .addressRow {
    font-size: 18px;
  }

  #up-button {
    right: 10px;
  }
}
@media screen and (max-width: 539px) {
  .categoryBlock__grid {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .categoryBlock__prodCard {
    max-width: 350px;
    margin: 0px auto;
  }
}
@media screen and (max-width: 480px) {
  .headerBottom__wrap {
    -ms-grid-columns: auto 10px auto;
    grid-template-columns: repeat(2, auto);
  }
  .headerBottom__icon {
    min-width: 40px;
    max-width: 40px;
  }
  .headerBottom__loginBtn {
    min-width: 40px;
    max-width: 40px;
  }
  .headerBottom__search {
    min-width: 40px;
    max-width: 40px;
  }
  .headerBottom__cart {
    min-width: 40px;
    max-width: 40px;
    margin-right: 10px;
  }
  .headerBottom__cart-label {
    right: -2px;
  }
  .headerBottom__logo {
    max-width: 100px;
  }

  .footer__wrap {
    padding-right: 0;
    padding-left: 0;
  }
  .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-row-gap: 0;
    padding-bottom: 0;
  }
  .footer__heading {
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 0;
    padding-right: 15px;
    padding-left: 15px;
  }
  .footer__heading h5 {
    font-weight: 600;
  }
  .footer__heading span {
    display: block;
    font-size: 11px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .footer__heading--active span {
    -webkit-transform: scaleY(-1) rotate(90deg);
            transform: scaleY(-1) rotate(90deg);
  }
  .footer__body {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    display: none;
  }
  .footer__col {
    border-bottom: 1px solid #E5E5E5;
  }
  .footer__col--main {
    padding-right: 15px;
    padding-left: 15px;
  }
  .footer__socials {
    display: none;
  }
  .footer__socials--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__mobileRow {
    padding-right: 15px;
    padding-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .footer__payments img {
    margin-right: 15px;
  }
  .footer__payments--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__bottom {
    padding-right: 15px;
    padding-left: 15px;
  }
  .footer__credit {
    font-size: 14px;
  }
  .footer__author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__author span {
    font-size: 12px;
    margin-right: 5px;
  }
  .footer__logo {
    max-width: 120px;
  }

  .prodBlock__circle {
    margin-top: 15px;
  }
  .prodBlock__button {
    min-width: 145px;
    max-width: 145px;
  }
  .prodBlock__info {
    width: 100%;
  }
  .prodBlock__addInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 1px solid #E8E8E8;
    padding-top: 25px;
    margin-top: 25px;
  }
  .prodBlock__gallerySlider {
    max-width: calc(100% - 40px);
    width: calc(100% - 40px);
  }
  .prodBlock__listBlock {
    margin-right: 15px;
  }
  .prodBlock__listBlock:not(:last-child) {
    margin-bottom: 0px;
  }
  .prodBlock__listBlock h5 {
    font-size: 18px;
  }
  .prodBlock__listBlock ul li {
    font-size: 14px;
  }
  .prodBlock__title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .prodBlock__flexRow {
    margin-bottom: 30px;
  }

  .tabBlock__wrap > div {
    padding-top: 35px;
  }
  .tabBlock ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .description h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .description p {
    font-size: 16px;
  }
  .description h5 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .chars__section:not(:last-child) {
    margin-bottom: 30px;
  }
  .chars__section h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .chars__row {
    margin-bottom: 15px;
  }
  .chars__row span {
    max-width: 100px;
  }
  .chars__row h5 {
    margin-right: 30px;
  }

  .shopsBlock__crumbs {
    padding-bottom: 20px;
  }
  .shopsBlock__title {
    margin-bottom: 30px;
  }

  .shopsItem h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .shopsItem__map iframe {
    height: 250px;
  }

  .checkForm__heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .checkForm__heading a {
    margin-top: 10px;
  }

  .fieldRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .fieldRow span {
    max-width: 100px;
    margin-bottom: 10px;
  }

  .checkoutBlock__crumbs {
    padding-bottom: 20px;
  }

  .offerBlock {
    padding-top: 10px;
  }

  .mainCat__item--small p {
    font-size: 14px;
  }

  .slider__arrow--prev {
    margin-left: -10px;
  }
  .slider__arrow--next {
    margin-right: -10px;
  }

  .pagination a {
    width: 30px;
    height: 30px;
    min-width: 30px;
  }
  .pagination a:not(:last-child) {
    margin-right: 10px;
  }

  .paymentInfoBlock__crumbs {
    padding-bottom: 20px;
  }
  .paymentInfoBlock__col {
    padding: 15px;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-right: -15px;
    margin-left: -15px;
  }
  .paymentInfoBlock__col h3 {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .paymentInfoBlock__section h5 {
    margin-bottom: 10px;
  }
}