@font-face {
  font-family: 'icomoon';
  src:  url('./icomoon.eot');
  src:  url('./icomoon.eot') format('embedded-opentype'),
    url('./icomoon.ttf') format('truetype'),
    url('./icomoon.woff') format('woff'),
    url('./icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-address:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e901";
}
.icon-catalog-menu:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-delete:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-guarantee:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\e907";
}
.icon-in-stock:before {
  content: "\e908";
}
.icon-mail:before {
  content: "\e909";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-reviews:before {
  content: "\e90b";
}
.icon-scales:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e90d";
}
.icon-cart:before {
  content: "\e90e";
}
.icon-shops:before {
  content: "\e90f";
}
.icon-show-more-reviews:before {
  content: "\e910";
}
.icon-sorting:before {
  content: "\e911";
}
.icon-star:before {
  content: "\e912";
}
.icon-store-advantages-01:before {
  content: "\e913";
}
.icon-store-advantages-02:before {
  content: "\e914";
}
.icon-store-advantages-03:before {
  content: "\e915";
}
.icon-store-advantages-04:before {
  content: "\e916";
}
.icon-telegram:before {
  content: "\e917";
}
.icon-user:before {
  content: "\e918";
}
.icon-wishlist:before {
  content: "\e919";
}
.icon-wishlist-empty:before {
  content: "\e91a";
}
.icon-working-hours:before {
  content: "\e91b";
}
