@import './variables.scss';

@media screen and (max-width: 1340px) {
  .prodBlock {
    &__gallerySlider {
      max-width: 400px;
    }
  }

  .accountBlock {
    &__list {
      max-width: 300px;
    }

    &__wrap {
      grid-template-columns: 1fr 300px;
    }

    &__left {
      width: 100%;
    }
    &__plateGrid {
      grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    }
  }
}

@media screen and (max-width: 1240px) {
  .advBlock{
    &__item {
      padding-right: 15px;
      padding-left: 15px;
      span {
        margin-right: 10px;
      }
    }
  }


  .categoryBlock{

    &__wrap {
      grid-template-columns: 250px 1fr;
      grid-gap: 20px;
    }

    &__grid {
      grid-column-gap: 20px;
      grid-row-gap: 30px;
      
    }

    &__filter {

    }
  }

  .prodBlock {
    &__addInfo {
      padding-left: 30px;
    }

    &__priceBlock {
      margin-right: 30px;
    }

    &__button {
      margin-right: 30px;
      max-width: 185px;
      height: 50px;
    }

    &__main {
      grid-template-columns: repeat(2, auto);
    }

    &__addInfo {
      margin-top: 0;
      border-left: none;
      padding-left: 0;
      display: flex;
      max-width: 100%;
      ul li {
        white-space: nowrap;
      }
    }

    &__listBlock {
      margin-right: 40px;
    }

    &__gallerySlider {
      margin-right: 30px;
      max-width: 300px;
    }

    &__info {
      padding-left: 20px;
    }

    &__addInfo {
      grid-column: span 2;
    }
    
  }

  .gallerySlider {
    &__arrow {
      &--next {
        right: -30px;
      }

      &--prev {
        left: -30px;
      }
    }
  }

  .tabBlock {
    ul {
      width: 100%;
    }

    &__wrap {
      & > div {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .headerTop {
    &__link {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    
    &__wrap {
      grid-template-columns: 1fr 100px 1fr;
      grid-gap: 20px;
    }
  }

  .mainCat {
    &__row {

      &--1 {
        grid-template-columns: repeat(1, 1fr);
      }

      &--2 {
        grid-template-columns: repeat(1, 1fr);
      }

      &--3 {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &__item {
      &--big {
        p {
          font-size: 48px;
        }
      }

      &--small {
        font-size: 20px;
      }
    }
  }

  .slider{
    &__prodCard {
      margin: 0px 10px;
    }
  }

  .footer {
    &__top {
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: 30px;
    }
  }

  .brands {
    &__wrap {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .categoryBlock {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .shopsBlock{
    &__grid {
      grid-gap: 30px;
    }
  }

  .checkoutBlock {
    &__wrap {
      display: flex;
      flex-direction: column;

    }

    &__crumbs {
      order: 1;
    }

    &__checkForm {
      order: 3;
      max-width: 700px;
      width: 100%;
      margin: 0px auto;
    }

    &__offerBlock {
      order: 2;
      margin: 0px auto;
      margin-bottom: 40px;
    }
  }

  .contacts {
    &__grid {
      display: flex;
      flex-direction: column;
    }

    &__info {
      max-width: 700px;
      width: 100%;
      margin: 0px auto;
    }

    &__letterForm {
      max-width: 700px;
      width: 100%;
      margin: 0px auto;
    }
  }
}

@media screen and (max-width: 900px) {
  .prodBlock {
    &__main {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__info {
      padding-left: 0;
    }

    &__addInfo {
      max-width: 563px;
      padding-top: 40px;
    }
  }

  .tabBlock {
    ul {
      li {
        a {
          font-size: 15px;
        }
      }
    }
  }

  .shopsBlock {
    &__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media screen and (max-width: 800px) {
  .headerTop {
    display: none;
  }

  .catalogButton {
    display: none;
  }

  .headerBottom {
    &__left {
      display: flex;
      align-items: center;
    }

    &__logo {
      max-width: 120px;
    }

    &__toggler {
      display: flex;
      flex-direction: column;
      width: 30px;
      min-width: 30px;
      height: 20px;
      position: relative;
      z-index: 5;
      margin-right: 20px;
      cursor: pointer;
      span {
        width: 100%;
        height: 2px;
        background: $accent-blue;
        position: absolute;
        &:first-child {
          top: 0;
        }

        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%);

        }

        &:last-child {
          bottom: 0;
        }
      }
    }

    &__wrap {
      grid-template-columns: 170px 1fr;
    }
  }

  .topBlock {
    &__wrap {
      display: block;
    }
  }

  .catalog {
    position: fixed;
    z-index: 10;
    border-radius: 0;
    top: 0;
    left: 0;
    height: 100vh;
    max-height: 100vh;
    transition: 0.3s;
    transform: translateX(-100%);
    width: 90vw;
    max-width: 430px;
    padding-left: 0;
    padding-right: 0;


    &__arrow {
      display: none;
    }

    &__mobileHeading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 15px;
      padding-bottom: 20px;

      h5 {
        font-size: 24px;
      }

      span {
        font-size: 22px;
        cursor: pointer;
      }
    }

    &__menu {
      height: 100%;
      overflow-y: scroll;
    }

    &--open {
      transform: translateX(0);
    }
  }

  .category {
    &__heading {
      border-radius: 0;
      &:hover {
        background: #fff;
        color: #000;
        span {
          color: #000;
        }
      }

      &--active {
        span {
          transform: rotate(90deg);
        }
      }
    }


    &__open {
      position: unset;
      transform: unset;
      box-shadow: none;
      border-radius: 0;
      padding: 0;
      right: unset;
      top: unset;
      height: auto;
    }

    &__col {
      width: 100%;  
      height: min-content;
      li {
        a {
          display: block;
          border-radius: 0;
        }
      }

      span a {
        display: block;
        border-radius: 0;
      }
    }

    &__list {
      margin: 0;
      width: 100%;
      max-width: 100%;
    }
  }

  .dropList {
    display: block;
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
    &__heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-decoration: none;
      color: #000;
      padding-right: 15px;
      font-weight: 600;
      padding-left: 44px;
      padding-top: 15px;
      padding-bottom: 15px;
      span {
        font-size: 10px;
      }

      &--active {
        span {
          transform: rotate(90deg);
        }
      }
    }

    &__body {
      display: none;
      padding-bottom: 15px;
      padding-left: 44px;
      padding-right: 15px;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $accent-blue;
      span {
        margin-right: 10px;
      }
    }

    &__grayText {
      color: #5e5e5e;
      padding-left: 25px;
      
    }
  }

  .mainCat {
    &__item {
      justify-content: space-between;
      &--small {
        p {
          font-size: 16px;
        }
      }
    }
  }

  .advBlock {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 25px;
    }

    &__item {
      padding-right: 0;
      padding-left: 0;  
      &:not(:last-child) {
        border-right: none;
      }
    }
  }

  .seo {
    &__inner {
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  .footer {
    &__top {
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 30px;
    }
  }


  .categoryBlock {

    &__wrap {
      display: block;
      grid-template-columns: unset;

    }

    &__main {
      padding-left: 0;
    }

    &__filter {
      position: fixed;
      background: #fff;
      padding-right: 45px;
      padding-top: 20px;
      z-index: 10;
      height: 100vh;
      top: 0;
      left: 0;
      overflow-x: hidden;
      padding-bottom: 30px;
      max-width: 380px;
      padding-left: 15px;
      transform: translateX(-100%);
      transition: 0.3s;
      &--open {
        transform: translateX(0);
      }
    }

    &__grid {
      // grid-template-columns: repeat(3, 1fr);
    }

    &__sortRow {
      justify-content: space-between;
    }
  }


  .filter{
    &__mobileHeading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 30px;
      margin-right: -30px;
      h5 {
        font-size: 24px;
        font-weight: 600;
      }

      span {
        font-size: 24px;
        cursor: pointer;
      }
    }
  }

  .filterButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: -33px;
    top: 200px;
    background: $accent-blue;
    color: #fff;
    z-index: 3;
    height: 30px;
    width: 95px;
    transform: rotate(90deg);
    text-decoration: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    span {
      margin-right: 5px;
      margin-top: 3px;
      transform: rotate(180deg);
    }
    img {
      width: 25px;
      height: 25px;
      transform: rotate(90deg);
    }
  }


  .accountBlock {
    &__wrap {
      display: flex;
      flex-direction: column;
    }

    &__list {
      max-width: 100%;
      margin-top: 0;
    }

    &__plateGrid {
      grid-gap: 15px;
      grid-template-columns: repeat(auto-fit, minmax(137px, 1fr));
    }

    &__plateBlock {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      h3 {
        margin-bottom: 10px;
      }
    }
  }

  .plateItem {
    height: 150px;
    padding: 0px 15px;
    img {
      max-width: 30px;
      margin-bottom: 15px;
    }
  }

  .contacts {
    &__map {
      iframe {
        height: 400px;
      }
    }
  }

  .compareBlock {
    &__body {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: -15px;
      margin-left: -15px;
      width: calc(100% + 30px);
      max-width: calc(100% + 30px);
      border-radius: 0;
      box-shadow: none;
    }

    &__tableWrap {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
}

@media screen and (max-width: 600px) {

  .wrap {
    padding-right: 15px;
    padding-left: 15px;
  }

  .headerBottom {

    &__wrap {
      grid-gap: 10px;
      padding-right: 0;
    }

    &__icon {
      height: 38px;
      min-width: 60px;
      margin: 0;
      display: grid;
      place-items: center;
      &:not(:last-child) {
        border-right: 1px solid #c3d4e8;
      }

      &--compare {
        display: none;
      }

      &--whishlist {
        order: 3;
      }
    }

    &__separator {
      display: none;
    }

    &__cart {
      order: 4;
      height: 38px;
      min-width: 60px;
      margin: 0;
      display: grid;
      place-items: center;
      
      &-label {
        top: 2px;
        right: 6px;
        transform: unset;
      }
    }

    &__loginBtn {
      order: 2;
      height: 38px;
      min-width: 60px;
      margin: 0;
      display: grid;
      place-items: center;
      border-right: 1px solid #c3d4e8;
      span {
        margin-right: 0;
      }

      p {
        display: none;
      }
    }

  }

  .search {
    order: 1;
    height: 38px;
    min-width: 60px;
    width: 60px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #c3d4e8;
    &__row {
      padding: 10px 20px;
      background: #fff;
      position: fixed;
      width: 100%;
      top: 52px;
      left: 0px;
      right: 0px;
      z-index: 3;

      span {
        right: 35px;
        z-index: 2;
      }
      
    }
  }

  .cart {
    transform: unset;
    visibility: hidden;
    opacity: 0;
    max-width: 100%;
    width: 100%;
    &--open {
      visibility: visible;
      opacity: 1;
    }
  }

  .mainCat {
    &__item {
      p {
        font-size: 28px;
      }

      &--small {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 25px;
        padding-bottom: 10px;
        p {
          font-size: 20px;
        }
      }

      &--big {
        .mainCat__img {
          max-width: 150px;
        }
      }
    }

    &__row {
      grid-gap: 0;
      grid-template-rows: repeat(auto-fit, 150px);
      &__img {
        height: 100%;
        img {
          height: 100px;
          object-fit: cover;
        }
      }
      &:not(:last-child) {
        margin-bottom: 0;
      }
      &--3 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
      }
    }

    &__img {
      max-width: 150px;
      img {
        width: 100%;
      }
    }
  }

  .advBlock {
    background: unset;
    &__wrap {
      padding: 0;
      
    }

    &__heading {
      display: flex;
      justify-content: space-between;
      color: #fff;
      text-transform: uppercase;
      padding: 20px 15px;
      background: $accent-blue;
      cursor: pointer;
      span {
        transform: rotate(90deg);
      }

      &--active {
        span {
          transform: scaleY(-1) rotate(90deg);
        }
      }
    }

    &__grid {
      display: none;
      border-top: 1px solid #fff;
    }

    &__item {
      background: #eff5fc;
      border-bottom: 1px solid #fff;
      span {
        display: flex;
        width: 90px;
        min-width: 90px;
        height: 70px;
        background: $accent-blue;
        justify-content: center;
        align-items: center;
        &::before {
          font-size: 48px;
        }
      }

      p {
        color: #000;
        padding-right: 15px;
      }
    }
  }

  .seo {

    &__wrap {
      padding-bottom: 50px;
    }

    &__inner {
      padding: 30px 20px;
      p {
        line-clamp: 10;
        -webkit-line-clamp: 10;
      }
    }
  }

  .footer {
    &__top {
      grid-template-columns: repeat(2, 1fr);

    }

    &__col {
      &--main {
        grid-column: span 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        padding-bottom: 15px;
      }
    }

    &__heading {
      display: flex;
      justify-content: space-between;
      &--active {
        span {
          transform: rotate(-90deg);
        }
      }
    }

    &__logo {
      margin-bottom: 0;
    }

    &__phoneBlock {
      display: flex;
      flex-direction: column;
    }

    &__phone {
      margin-bottom: 0;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__payments {
      display: none;
      &--mobile {
        display: flex;
      }
    }
  }

  .brands {
    position: relative;
    padding-bottom: 75px;
    &__wrap {
      display: flex;
      overflow-x: scroll;
      padding-bottom: 10px;
    }

    &__item {
      min-width: 140px;
      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    &__button {
      position: absolute;
      bottom: 30px;
      flex-direction: row;
      width: auto;
      height: auto;
      right: 50%;
      transform: translateX(50%);
      background: transparent;
      span {
        margin-bottom: 0;
        margin-right: 10px;
      }
    }
  }

  .slider {
    &__title {
      margin-bottom: 30px;
    }
  }

  .crumbs{
    font-size: 12px;
  }

  .categoryBlock {
    &__crumbs {
      margin-bottom: 25px;
    }

    &__title {
      margin-bottom: 25px;
    }
  }

  .prodBlock {
    &__art {
      margin-right: 15px;
    }

    &__brand {
      margin-right: 15px;
    }

    &__flexRow {
      margin-bottom: 20px;
      flex-wrap: wrap;
    }

    &__priceBlock {
      margin-right: 15px;
      span, s {
        white-space: nowrap;
      }
    }

    &__button {
      margin-right: 15px;
      min-width: 150px;
    }
  }


  .tabBlock {
    ul {
      display: flex;
      grid-gap: 2px;
      li {
        width: 100%;
        a {
          white-space: nowrap;
          padding-right: 15px;
          padding-left: 15px;
        }
      }
    }
  }

  .shopsItem {
    padding: 10px;
    border-radius: 0;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0px -15px;
    box-shadow: none;
    border-bottom: 1px solid #c7c7c7;
  }

  .offerBlock{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: -15px;
    margin-left: -15px;
    width: calc(100% + 30px);
    max-width: calc(100% + 30px);
    border-radius: 0;
    box-shadow: none;
    &__items {
      // margin-right: -15px;
      // margin-left: -15px;
    }
  }

  .contacts{

    h3 {
      font-size: 22px;
      margin-bottom: 30px;
    }

    &__grid {
      grid-gap: 20px;
    }

    &__info {
      border-radius: 0;
      margin: 0px -15px;
      max-width: calc(100% + 30px);
      width: calc(100% + 30px);
      box-shadow: none;
      padding: 15px;
    }

    &__map {
      border-radius: 10px;
    }
  }


  .letterForm {
    border-radius: 0;
    margin: 0px -15px;
    max-width: calc(100% + 30px);
    width: calc(100% + 30px);
    box-shadow: none;
    padding: 15px;

    &__body {
      display: flex;
      flex-direction: column;
    }

    &__button {
      margin-bottom: 0;
    }
  }

  .addressRow {
    font-size: 18px;
  }

  #up-button {
    right: 10px;
  }

  
}

@media screen and (max-width: 539px) {
  .categoryBlock {
    &__grid {
      grid-template-columns: repeat(1, 1fr);
    }

    &__prodCard {
      max-width: 350px; 
      margin: 0px auto;
    }
  }
}

@media screen and (max-width: 480px) {


  .headerBottom {
    &__wrap {
      grid-template-columns: repeat(2, auto);
    }

    &__icon {
      min-width: 40px;
      max-width: 40px;
    }

    &__loginBtn {
      min-width: 40px;
      max-width: 40px;
    }

    &__search {
      min-width: 40px;
      max-width: 40px;
    }

    &__cart {
      min-width: 40px;
      max-width: 40px;
      margin-right: 10px;
      &-label {
        right: -2px;
      }
    }

    &__logo {
      max-width: 100px;
    }
  }

  .footer {

    &__wrap {
      padding-right: 0;
      padding-left: 0;
    }

    &__top {
      display: flex;
      flex-direction: column;
      grid-row-gap: 0;
      padding-bottom: 0;
    }

    &__heading { 
      padding-top: 18px;
      padding-bottom: 18px;
      margin-bottom: 0;
      padding-right: 15px;
      padding-left: 15px;
      h5 {
        font-weight: 600;
      }
      
      span {
        display: block;
        font-size: 11px;
        transform: rotate(90deg);
      }

      &--active {
        span{
          transform: scaleY(-1) rotate(90deg);
        }
      }
    }

    &__body {
      padding-right: 15px;
      padding-left: 15px;
      padding-bottom: 10px;
      display: none;
    }

    &__col {
      border-bottom: 1px solid #E5E5E5;
      &--main {
        padding-right: 15px;
        padding-left: 15px;
      }
    }

    &__socials {
      display: none;
      &--mobile {
        display: flex;
      }
    }

    &__mobileRow {
      padding-right: 15px;
      padding-left: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 13px;
      padding-bottom: 13px;
    }

    &__payments{
      img {
        margin-right: 15px;
      }
      &--mobile {
        display: flex;
      }
    }

    &__bottom {
      padding-right: 15px;
      padding-left: 15px;
    }

    &__credit {
      font-size: 14px;
    }

    &__author {
      display: flex;
      align-items: center;
      span {
        font-size: 12px;
        margin-right: 5px;
      }
    }

    &__logo {
      max-width: 120px;
    }
  }

  .prodBlock {
    &__circle {
      margin-top: 15px;
    }

    &__button {
      min-width: 145px;
      max-width: 145px;
    }

    &__info {
      width: 100%;
    }

    &__addInfo {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #E8E8E8;
      padding-top: 25px;
      margin-top: 25px;
    }

    &__gallerySlider {
      max-width: calc(100% - 40px);
      width: calc(100% - 40px);
    }

    &__listBlock {
      margin-right: 15px;
      &:not(:last-child) {
        margin-bottom: 0px;
      }

      h5 {
        font-size: 18px;
        
      }

      ul li {
        font-size: 14px;
      }
    }

    &__title {
      font-size: 24px;
      margin-bottom: 15px;
    }

    &__flexRow {
      margin-bottom: 30px;
    }
  }

  .tabBlock {

    &__wrap {
      & > div {
        padding-top: 35px;
      }
    }

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }
  }

  .description {
    h3 {
      font-size: 22px;
      margin-bottom: 15px;
    }

    p {
      font-size: 16px;
    }

    h5 {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  .chars {

    &__section {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
      h3 {
        font-size: 18px;
        margin-bottom: 15px;
      }
    }

    &__row {
      margin-bottom: 15px;
      span {
        max-width: 100px;
      }

      h5 {
        margin-right: 30px;
      }
    }
  }

  .shopsBlock {
    &__crumbs {
      padding-bottom: 20px;
    }

    &__title {
      margin-bottom: 30px;
    }
  }

  .shopsItem {
    
    h3 {
      font-size: 20px;
      margin-bottom: 20px;
    }

    &__map {
      iframe {
        height: 250px;
      }
    }
  }

  .checkForm__heading {
    flex-direction: column;
    align-items: flex-start;
    a {
      margin-top: 10px;
    }
  }

  .fieldRow {
    flex-direction: column;
    align-items: flex-start;
    span {
      max-width: 100px;
      margin-bottom: 10px;
    }
  }

  .checkoutBlock{
    &__crumbs {
      padding-bottom: 20px;
    }
  }

  .offerBlock {
    padding-top: 10px;
  }

  .mainCat {
    &__item {
      &--small {
        p {
          font-size: 14px;
        }
      }
    }
  }

  .slider {
    &__arrow {
      &--prev {
        margin-left: -10px;
      }

      &--next {
        margin-right: -10px;
      }
    }
  }

  .pagination {
    a {
      width: 30px;
      height: 30px;
      min-width: 30px;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
